# See https://help.github.com/ignore-files/ for more about ignoring files.

# vscode configuration
.vscode/

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# production
/build
/server/build
/server/__pycache__/
/server/create_team/__pycache__/

# dependencies
/node_modules
bash.exe.stackdump
server/__pycache__/server.cpython-38.pyc
server/__pycache__/mongo.cpython-38.pyc
server/players_statistics/__pycache__/players_statistics.cpython-38.pyc
